

@{
	ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<p> The Employee Management System is a lightweight and scalable application designed to help organizations
	manage employee data efficiently. Built with ASP.NET Core MVC, this system allows the users to perform
	tasks such as viewing , adding, and updating employee records.

</p>

<p>
	Our Mission is to provide rebous soultions that simplify the way HR departmrnt operate,
	ensuring data integrity, security, and ease of access.

</p>
